$pc:1024px;
$tablet:768px;
$mobile: 400px;

@mixin responsive ($medida){
  @if $medida==pc {
  @media(min-width:$pc){
    @content;
  }
}@else if $medida==tablet{
  @media(min-width:$tablet){
    @content;
  }
}@else if $medida==$mobile{
  @media(min-width:$mobile){
    @content;
  }
}
}