.container {
	width: auto;
	max-width: 1200px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	.card {
		width: 330px;
		height: 430px;
		border-radius: 8px;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
		overflow: hidden;
		margin: 20px;
		text-align: center;
		transition: all 0.25s;
		&:hover {
			transform: translateY(-15px);
			box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
		}
		img {
			width: 330px;
			height: 220px;
		}
		h4 {
			font-weight: 600;
		}
		p {
			padding: 0 1rem;
			font-size: 16px;
			font-weight: 300;
		}
		a {
			text-decoration: none;
			color: #540def;
            font-family:"roboto",sans-serif;
            font-size: 1.7rem;
			padding-top: 1.5rem;
			font-weight: 800;
            
            
		}
	}
}

