#formulario {
    font-size: 2.1rem;
    font-family: "roboto";
    font-weight: bold;
    padding: 20px;
  }
  
  .form-control{
    background-color:rgba(14, 13, 13, 0.808);
    width: 80vw;
    margin:0 auto;
    color: white;
    font-size: 1.4rem;
    font-family: "roboto";
    font-weight: lighter;
  }
  .form-label{
    display: block;
    text-align: center;
    margin: 0% auto;
  }

  