html {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0 px;
}

h1 {
    font-size: $TamamañoSubtítulos;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color:$ColorTxtSub;
    background-color: rgb(0, 0, 0);
    padding: 7px;
  }
  
  h2 {
    font-size: 2.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  p {
    text-align: $alineaciónParrafo;
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 0, 7cm;
    font-weight: lighter;
    font-size: 1.8rem;

    

  }
  .parrafomap{
    line-height:map-get($textoSecciones,interlineado);
    font-weight:map-get($textoSecciones,pesodeFuente);
    font-family:map-get($textoSecciones,fuente) ;
    font-size:map-get($textoSecciones,tamañodeFuente) ;
    text-align: $alineaciónParrafo;


  }

  .footer {
    justify-content: right;
    text-align: right;
    font-size: 1.5rem;
    font-family: "roboto";
  }