html{
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

h2 {
    font-size: $TamamañoSubtítulos;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color:$ColorTxtSub;
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 7px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 2.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  p {
    text-align: $alineaciónParrafo;
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 0, 7cm;
    font-weight: lighter;
    font-size: 1.8rem;
    padding:25px;
   
  }
  .parrafomap{
    line-height:map-get($textoSecciones,interlineado);
    font-weight:map-get($textoSecciones,pesodeFuente);
    font-family:map-get($textoSecciones,fuente) ;
    font-size:map-get($textoSecciones,tamañodeFuente) ;
    text-align: $alineaciónParrafo;

  }

  .redes-sociales {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 30px;
    padding: 30px;
    ul {
      li {
        display: inline-block;
        margin: 0 5px;
        width: 50px;
        height: 50px;
        text-align: center;
        
        a {
          display: block;
          padding: 0 10px;
          background: #333;
          color: #fff;
          line-height: 50px;
          border-radius: 10px;
          font-size: 20px;
          box-shadow: 0 3px 5px 0px rgba(0,0,0,2);
          transition: .3s;
          &:hover {
            transform: translateY(-3px) scale(1.05);
            box-shadow: 0 35x 5px 0px rgba(0,0,0,4);
            filter: none;
          }
        }
        .facebook {
          &:hover {
            background: $facebook;
          }
        }
        .instagram {
          &:hover {
            background: $instagram;
          }
        }
        .youtube {
          &:hover {
            background: $youtube;
          }
        }
        .whatsapp {
          &:hover {
            background: $whatsapp;
          }
        }
      }
      &:hover {
        a {
          filter: blur(2px);
        }
      }
    }
  }
  
  .footer {
    text-align: center;
    font-size: 1.5rem;
    font-family: "roboto";
  }