.navbar {
    background-color: rgb(0, 0, 0);
  }
  .navbar-toggler {
    background-color: rgb(31, 31, 207);
  }
  .navbar-brand:hover{
	transform: scale(1.1);
	transition: all 0.5s;
    cursor: pointer; }

  nav {
	ul {
		display: flex;
		list-style: none;
		justify-content: flex-end;
		gap: 20px;
		background-color: rgb(0, 0, 0);
		color: rgb(238, 241, 235);
		margin: 15px;
		padding: 15px;
		position: relative;
		cursor: pointer;
		ul {
			li {
				&:hover {
					ul {
						display: block;
						color: transparent;
					}
				}
			}
		}
		li {
			a {
				font-size: 2.1rem;
				text-decoration: none;
				font-family: "Roboto", sans-serif;
				color: rgb(238, 241, 235);
				padding: 10px;
			}
		}
	}
}
  
