@charset "UTF-8";
/* color texto subtítulos*/
@media (min-width: 768px) {
  .gallery-container {
    grid-template-columns: repeat(4, 1fr); }
  .gallery__item:nth-child(3) {
    grid-column-start: span 2; }
  .gallery__item:nth-child(9) {
    grid-row-start: span 2; }
  .gallery__item:nth-child(7) {
    grid-row-start: span 2; } }

@media (min-width: 1024px) {
  .gallery-container {
    grid-template-columns: repeat(5, 1fr); }
  .gallery__item:nth-child(3) {
    grid-column-start: span 3; }
  .gallery__item:nth-child(5) {
    grid-column-start: span 3; }
  .gallery__item:nth-child(6) {
    grid-row-start: span 2; } }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h2 {
  font-size: 2.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #eef1eb;
  text-align: center;
  background-color: black;
  padding: 7px;
  margin-top: 30px;
  margin-bottom: 20px; }

h3 {
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }

p {
  text-align: justify;
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 0, 7cm;
  font-weight: lighter;
  font-size: 1.8rem;
  padding: 25px; }

.parrafomap {
  line-height: 0.7cm;
  font-weight: lighter;
  font-family: "PT Sans Narrow" sans-serif;
  text-align: justify; }

.footer, #leyendaFotos {
  text-align: center;
  font-size: 1.5rem;
  font-family: "roboto"; }

.navbar {
  background-color: black; }

.navbar-toggler {
  background-color: #171717; }

.nav-link {
  color: white; }

.navbar-brand:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  cursor: pointer; }

nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  gap: 20px;
  background-color: black;
  color: #eef1eb;
  margin: 15px;
  padding: 15px;
  position: relative;
  cursor: pointer; }
  nav ul ul li:hover ul {
    display: block; }
  nav ul li a {
    font-size: 2.1rem;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #eef1eb;
    padding: 10px; }

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 12px;
  grid-auto-flow: dense;
  cursor: pointer; }

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0, 8px, 10px -4px rgba(0, 0, 0, 0.6);
  filter: url("data:image/svg xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  width: 100%;
  height: 100%; }
  .gallery__img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    transition: all 0.7s; }

.gallery__item:nth-child(4) {
  grid-column-start: span 2; }

.gallery__item:nth-child(8) {
  grid-row-start: span 2; }

.gallery__item:nth-child(9) {
  grid-column-start: span 2; }

@media (min-width: 768px) {
  .gallery-container {
    grid-template-columns: repeat(4, 1fr); }
  .gallery__item:nth-child(3) {
    grid-column-start: span 2; }
  .gallery__item:nth-child(9) {
    grid-row-start: span 2; }
  .gallery__item:nth-child(7) {
    grid-row-start: span 2; } }

@media (min-width: 1024px) {
  .gallery-container {
    grid-template-columns: repeat(5, 1fr); }
  .gallery__item:nth-child(3) {
    grid-column-start: span 3; }
  .gallery__item:nth-child(5) {
    grid-column-start: span 3; }
  .gallery__item:nth-child(6) {
    grid-row-start: span 2; } }

#formulario {
  font-size: 2.1rem;
  font-family: "roboto";
  font-weight: bold;
  padding: 20px;
  position: relative;
  display: block; }

.form-control {
  background-color: rgba(14, 13, 13, 0.808);
  width: 80vw;
  margin: 0 auto;
  color: white;
  font-size: 1.4rem;
  font-family: "roboto";
  font-weight: lighter; }

.form-label {
  display: block;
  text-align: center;
  margin: 0% auto; }

.btn {
  float: right;
  margin-top: 10px;
  font-size: 1.4rem;
  font-family: "roboto";
  font-weight: bold; }

.container {
  width: auto;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }
  .container .card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s; }
    .container .card:hover {
      transform: translateY(-15px);
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }
    .container .card img {
      width: 330px;
      height: 220px; }
    .container .card h4 {
      font-weight: 600; }
    .container .card p {
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300; }
    .container .card a {
      font-weight: 500;
      text-decoration: none;
      color: #3498db;
      font-family: "roboto",sans-serif;
      font-size: 1.7rem; }

#leyendaFotos {
  text-align: center;
  font-size: 1.8rem;
  font-family: "PT Sans Narrow", sans-serif;
  text-align: center; }

.img-fluid {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 70%;
  justify-items: center; }

.staff-p {
  display: inline-block;
  box-sizing: border-box;
  columns: 300px 3;
  column-fill: auto;
  column-gap: 25px; }

.video-contenedor {
  position: relative;
  padding-bottom: 60%;
  padding-top: 0;
  height: 0;
  overflow: hidden; }

.video-contenedor iframe {
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
  width: 80%;
  height: 60%; }
